body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 100px;
}

header {
    text-align: center;
}

button {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 25px;
    width: 350px;
    height: 50px;
}

.boxContainer {
    box-sizing: border-box;
    float: left;
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: row;
}

.column {
    box-sizing: border-box;
    flex: 1;
    height: inherit;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.box {
    font-size: 100px;
    box-sizing: inherit;
    border: 2px solid black;
    flex: 1;
    background-image: url("images/blank.jpg");
    background-size: contain;
}

.panelContainer {
    text-align: center;
    line-height: 75px;
    padding: 20px;
}

.gamepanel {
    font-size: 50px;
    background-color: lightgray;
    border: 3px solid black;
}

.playAgain {
    display: none;
}